
.topic-header {
    margin-top: 50px;
}
.image-area {
    margin-top: 30px;
}

.digit {
    border: 1px solid;
    display: block;
    font-size: 6.0em;
    text-align: center;
    font-family: 'Stalinist One', cursive;
}

.mini-note {
    margin-top: 15px;
    margin-bottom: 30px;
}

